.text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.head{
    font-family:"roboto";
    font-size :14px;
    font-weight:bold;
}
ul{
    display:flex;
    flex-direction:column;
    width:100%;
}
.Error{
    color:red;
    font-family:"bree serif";
}
.Form{
    display:flex;
    flex-direction:column;
    align-items:center;
}
input{
    height:22px;
    width: 180px;
    margin: 8px;
}
.btn{
    height: 22px;
    width:60px;
    background-color:lightblue;
    color:white;
    border:none;
}